.container {
    /* width: 4000px; */
    
    display: grid;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

mat-card {
    /* width: 55%; */
    box-shadow:none;


}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-footer {
    display: flex;
    align-items: right;
    justify-content: right;
}

mat-form-field {
    width: 100%;
}

/* mat-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */